Repository bitcart/bitcart-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

lint:
  name: lint
  language: system
  entry: yarn lintfix:precommit
  require_serial: true

prettier:
  name: prettier
  language: system
  entry: yarn prettier
  require_serial: true

Add delete confirmation dialog
  components/ItemData.vue
Due: lint

Fix autocomplete background
  assets/css/main.css
Due: prettier

Fix lint
  static/walletconnect-white.svg
Due: prettier

Make it the only walletconnect logo
  components/WalletConnectButton.vue
  static/walletconnect-white.svg
  static/walletconnect.svg
Due: lint, prettier

White icon uploaded and width made wider (#200)
  components/WalletConnectButton.vue
  static/walletconnect.svg
Due: lint, prettier

Allow to edit global templates
  components/ExplorerEdit.vue
  pages/manage/policies.vue
  plugins/localStorage.js
Due: lint

Allow extra data on user signup
  pages/register.vue
Due: lint

Add profile_extra slot
  pages/profile/index.vue
Due: lint

Add dark and pinned in localStorage
  layouts/default.vue
  pages/i/_id.vue
Due: lint

Add sso login (google, github)
  assets/css/main.css
  package.json
  pages/login/index.vue
  pages/register.vue
Due: lint, prettier

add sso login
  components/PolicySetting.vue
  components/ProvidersSettings.vue
  components/SsoLogins.vue
  package-lock.json
  pages/login/index.vue
  pages/manage/policies.vue
  pages/register.vue
Due: lint, prettier

Remove npm lockfile
  package-lock.json
Due: prettier

Fix
  layouts/default.vue
  package.json
  pages/i/_id.vue
Due: lint, prettier

Use ULID
  utils/index.js
Due: lint

Fix autocomplete styling
  assets/css/main.css
Due: prettier

Fix dockerfile ENV warnings
  Dockerfile
Due: prettier

Fix linting
  .pre-commit-config.yaml
  assets/css/main.css
Due: prettier

Fix password reset
  pages/forgotpassword.vue
Due: lint

Disable lightning switch.
  pages/wallets/index.vue
Due: lint

BAI-23 Fix lightning switch
  pages/wallets/index.vue
Due: lint

Add reciept without styles.
  .eslintrc.js
  components/ReceiptComponent.vue
  nuxt.config.js
  package.json
  pages/i/_id.vue
  plugins/vue-html2pdf.js
  yarn.lock
Due: lint, prettier

Fixes
  plugins/localStorage.js
Due: lint

Upgrade cookie package
  package.json
  yarn.lock
Due: prettier

Prepare plugin APIs for release
  components/ItemData.vue
  components/UIExtensionSlot.vue
  pages/manage/policies.vue
  pages/plugins.vue
  utils/index.js
  version.js
Due: lint

UI improvements in plugin marketplace
  components/PluginCard.vue
  pages/plugins.vue
Due: lint

Add paid plugins TOS
  components/PluginCard.vue
Due: lint

Add plugin reload command
  components/PluginCard.vue
  pages/manage/maintenance.vue
  pages/plugins.vue
Due: lint

Version 0.9.0.0
  version.js
Due: lint

Add a warning for balance fetching of 100+ wallets
  components/TabbedCheckout.vue
  pages/index.vue
Due: lint

Add tooltips to plugin metadata
  pages/plugins.vue
Due: lint

Allow to enable powered by bitcart text
  components/TabbedCheckout.vue
  layouts/base.vue
  pages/i/_id.vue
  pages/manage/policies.vue
Due: lint

Fix styling
  pages/i/_id.vue
Due: lint

Fix styling of powered by text
  components/TabbedCheckout.vue
  pages/i/_id.vue
  static/powered-by.svg
Due: lint, prettier

Allow max confirmation watch up to 10
  pages/stores/index.vue
Due: lint

Add transaction speed to wallet
  pages/wallets/index.vue
Due: lint

Version 0.9.1.0
  version.js
Due: lint

Fix CI
  static/powered-by.svg
Due: prettier

Update version number for clarity
  version.js
Due: lint

Version 0.10.0.1
  version.js
Due: lint

Add healthcheck store id
  pages/manage/policies.vue
Due: lint

Path conditions:
  lint: any of: \.(js|vue)$
  prettier: any file but: \.(js|vue)$
