Repository bitcart/bitcart-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

lint:
  name: lint
  language: system
  entry: yarn lintfix:precommit
  require_serial: true

prettier:
  name: prettier
  language: system
  entry: yarn prettier
  require_serial: true

Allow to customize payment methods for invoice
  components/EditCard.vue
  pages/invoices.vue
Due: lint

Use autocomplete mode API for suggestions
  pages/invoices.vue
  pages/payouts.vue
  pages/products.vue
  pages/stores/index.vue
Due: lint

More robust handling of unset fields
  components/EditCard.vue
  components/ItemData.vue
Due: lint

Extend mark as complete capabilities
  pages/invoices.vue
Due: lint

Display product quantities
  pages/invoices.vue
Due: lint

Don't truncate ULIDs
  utils/index.js
Due: lint

Add transaction speed to wallet
  pages/wallets/index.vue
Due: lint

Add transaction speed to wallet (#228)
  pages/wallets/index.vue
Due: lint

Version 0.10.1.0
  version.js
Due: lint

Version 0.10.1.1
  version.js
Due: lint

Fix powered by logo in onedomain mode
  components/TabbedCheckout.vue
Due: lint

Add plugins deeplinks
  components/PluginCard.vue
  components/TabbedCheckout.vue
  pages/manage/policies.vue
  pages/plugins.vue
  version.js
Due: lint

Enhance success circle UI in _id.vue with confirming state animation. Added rotation animation for confirming status and updated class binding for visual feedback.
  pages/i/_id.vue
Due: lint

Update TabbedCheckout component to display currency symbol in amount title and change invoice status from 'waiting_confirmation' to 'confirmed'.
  components/TabbedCheckout.vue
  pages/i/_id.vue
Due: lint

Refactor icon display logic in _id.vue to conditionally render based on displayStatus. Introduced new .icon-static class for improved styling and layout consistency.
  pages/i/_id.vue
Due: lint

Fix status mapping and border color inheritance in invoice page
  pages/i/_id.vue
Due: lint

Show waiting confirmation screen when invoice is paid
  pages/i/_id.vue
Due: lint

Add logs retention period
  pages/manage/policies.vue
Due: lint

Switch to github actions
  .circleci/config.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: prettier

Move renovate config
  .github/renovate.json
Due: prettier

Fix CI
  .github/workflows/ci.yml
Due: prettier

Add .nvmrc
  .nvmrc
Due: prettier

Add zizmor
  .github/workflows/ci.yml
  .github/zizmor.yml
Due: prettier

Test CI
  .github/workflows/ci.yml
Due: prettier

Use string for setup-node
  .github/workflows/ci.yml
Due: prettier

Version 0.10.2.0
  README.md
  version.js
Due: lint, prettier

Add release workflow
  .github/workflows/release.yml
Due: prettier

Fix release workflow
  .github/workflows/release.yml
Due: prettier

Improve CI
  .github/workflows/ci.yml
Due: prettier

Improve password reset
  components/VerifyCode.vue
  pages/forgotpassword.vue
  pages/login/email.vue
  pages/register.vue
Due: lint

Add metrics_management permission to UI
  components/PermissionSet.vue
  data/permissions.json
Due: lint, prettier

Add support for presave dialogs
  components/EditCard.vue
  components/ItemData.vue
  pages/wallets/index.vue
Due: lint

Version 0.10.2.1
  version.js
Due: lint

Add support for server api url
  nuxt.config.js
  store/index.js
Due: lint

Fix onion serverside when container shortcut is active
  plugins/axios.js
Due: lint

Don't issue useless backend requests on 404
  layouts/base.vue
  store/index.js
Due: lint

Version 0.10.3.0
  version.js
Due: lint

Add LND wallet support to admin UI
  components/EditCard.vue
  components/ItemData.vue
  package.json
  pages/wallets/_id/lightning.vue
  pages/wallets/_id/status.vue
  pages/wallets/index.vue
  yarn.lock
Due: lint, prettier

router: normalize base to always end with a trailing slash
  router.js
Due: lint

Add support for host agent
  components/ManagementCommand.vue
  pages/configurator.vue
  pages/manage/backups.vue
Due: lint

Path conditions:
  lint: any of: \.(js|vue)$
  prettier: any file but: \.(js|vue)$
