Repository bitcart/bitcart-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

lint:
  name: lint
  language: system
  entry: yarn lintfix:precommit
  require_serial: true

prettier:
  name: prettier
  language: system
  entry: yarn prettier
  require_serial: true

Fix build
  nuxt.config.js
  package.json
  yarn.lock
Due: lint, prettier

Rename BitcartCC to Bitcart
  .circleci/config.yml
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  README.md
  components/TroubleshootingGuide.vue
  components/configurator/2.vue
  layouts/default.vue
  modules/@bitcart/core/config/extends.js
  modules/@bitcart/core/config/index.js
  modules/@bitcart/core/config/routes.js
  modules/@bitcart/core/index.js
  modules/@bitcart/core/package.json
  package.json
  pages/configurator.vue
  pages/invoices.vue
  pages/manage/backups.vue
  pages/manage/maintenance.vue
  pages/payouts.vue
  pages/plugins.vue
  pages/stores/index.vue
  pages/templates.vue
  pages/wallets/_id/lightning.vue
  pages/wallets/index.vue
  renovate.json
  static/shopify/bitcart-shopify.js
  store/index.js
Due: lint, prettier

Change logo
  layouts/default.vue
  static/checkout-logo.png
  static/favicon.ico
  static/icon.png
  static/icon.svg
Due: lint, prettier

Version 0.8.0.0
  version.js
Due: lint

Fix linting
  components/MobileWrap.vue
  nuxt.config.js
Due: lint

Remove resolutions
  package.json
  yarn.lock
Due: prettier

Fix broken UI
  package.json
  yarn.lock
Due: prettier

Use nodejs 20
  Dockerfile
Due: prettier

Refactor email settings
  components/EditCard.vue
  components/EmailSettings.vue
  pages/stores/index.vue
  utils/index.js
Due: lint

BAI-19 maked logo clickable
  assets/css/main.css
  layouts/default.vue
Due: lint, prettier

Turnstile captcha support
  components/TurnstileCaptcha.vue
  package.json
  pages/forgotpassword.vue
  pages/login/email.vue
  pages/login/index.vue
  pages/manage/policies.vue
  pages/register.vue
  yarn.lock
Due: lint, prettier

Turnstile captcha support (#192)
  components/TurnstileCaptcha.vue
  package.json
  pages/forgotpassword.vue
  pages/login/email.vue
  pages/login/index.vue
  pages/manage/policies.vue
  pages/register.vue
  yarn.lock
Due: lint, prettier

BAI-19 fixed formatting
  layouts/default.vue
Due: lint

BAI-19 | made logo clickable (#190)
  assets/css/main.css
  layouts/default.vue
Due: lint, prettier

BAI-22 Added icon to open store's storefront page
  nuxt.config.js
  pages/stores/index.vue
Due: lint

BAI-22 update branch
  pages/stores/index.vue
Due: lint

Small fixes
  nuxt.config.js
  pages/stores/index.vue
Due: lint

BAI-22 | Added icon to open store's storefront page (#194)
  nuxt.config.js
  pages/stores/index.vue
Due: lint

Add more settings to store store host
  nuxt.config.js
  pages/stores/index.vue
  store/index.js
Due: lint

Universal captcha
  components/PolicySetting.vue
  components/UniversalCaptcha.vue
  package.json
  pages/forgotpassword.vue
  pages/login/email.vue
  pages/login/index.vue
  pages/manage/policies.vue
  pages/register.vue
  yarn.lock
Due: lint, prettier

Fixes for verification emails sending
  package.json
  pages/forgotpassword.vue
  pages/login/email.vue
  pages/profile/index.vue
  pages/register.vue
  yarn.lock
Due: lint, prettier

Implement better email verification on sign up
  components/VerifyCode.vue
  pages/login/email.vue
  pages/register.vue
Due: lint

Add dark and pinned in localStorage
  layouts/default.vue
  nuxt.config.js
  package.json
  pages/i/_id.vue
  plugins/localStorage.js
  store/index.js
  utils/index.js
  yarn.lock
Due: lint, prettier

white icon uploaded and width made wider
  components/WalletConnectButton.vue
  static/walletconnect-white.svg
Due: lint, prettier

removed console.log
  components/WalletConnectButton.vue
Due: lint

Add confirm before delete.
  components/ItemData.vue
Due: lint

Add checkbox for exclude manually marked invoices
  pages/invoices.vue
Due: lint

Inherit autocomplete styles
  assets/css/main.css
Due: prettier

Payment id fixes
  components/TabbedCheckout.vue
  pages/i/_id.vue
  pages/invoices.vue
Due: lint

Payment id fixes (#205)
  components/TabbedCheckout.vue
  pages/i/_id.vue
  pages/invoices.vue
Due: lint

Notifiers provider change
  components/EditCard.vue
  pages/notifications.vue
Due: lint

Less fields to edit on invoices page
  pages/invoices.vue
Due: lint

Better notification provider handling
  pages/notifications.vue
Due: lint

Fix PR
  layouts/default.vue
  nuxt.config.js
  package.json
  pages/i/_id.vue
  plugins/localStorage.js
  utils/index.js
  yarn.lock
Due: lint, prettier

Fix imports order
  layouts/default.vue
Due: lint

BAI-58 Persist dark and pinned settings (#199)
  layouts/default.vue
  nuxt.config.js
  package.json
  plugins/localStorage.js
  store/index.js
  utils/index.js
  yarn.lock
Due: lint, prettier

Path conditions:
  lint: any of: \.(js|vue)$
  prettier: any file but: \.(js|vue)$
